@import url("../css/12cols.css");

html{
	background: url("../img/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
}

body{
	font-size:100%;
	font-family: 'Open Sans', serif;
}

/*-----------HEADER-----------------*/

header{
	background-color: #efefef;
	width: 80%;
	max-width: 850px;
	margin:0 auto;
	top:0;
}

nav {
	float:right;
	background-color: #efefef;
	padding:10px 0 10px 0;
}
nav ul li{
	float:right;
	margin: 0 0 0 25px;
	color: purple;
}

nav ul li:first-child{
	margin: 0 25px 0 25px;
}

nav ul li a{
	color:purple;
}

.box_logo{
	background-color: #efefef;
	margin-top:0;
}

header div img {
	margin:25px auto 10px auto;
	width:60%;
	display:block;
}

/*------------------MAIN PAGE------------------------*/

#wrapper{
	width:80%;
	max-width: 850px;
	margin:0 auto;
	font: 400 1rem/1.25rem "Open Sans", Arial, Sans;
}

.avatar{
	height:auto;
	display: inline-block;
	float:right;
}

.teaser_landingpage{
	background-color:#eee;
	float:left;
	display: inline-block;
	height:auto;
}

.teaser_landingpage.ueber_uns {
	padding:0%;
}

section.ueber_uns.teaser_landingpage div.span_8_of_12 {
	width: 62.13%;
	padding:2%;
}

.teaser_landingpage.span_4_of_12{
	width:28.26%;
	padding:2%;
}

.teaser_landingpage h2
{
	font-size: 1.25rem;
	padding:10px 0;
}

@media only screen and (max-width: 1048px) {
	nav ul li:first-child{
		margin:0 20px 0 20px;
	}

	nav ul li:last-child{
		margin: 0px;
	}

	nav ul li{
		margin:0 0 0 25px;
	}

}

@media only screen and (max-width: 480px) {
		section.ueber_uns.teaser_landingpage div.span_8_of_12 {
		width: 96%;
		padding:2%;
	}

	.teaser_landingpage.span_4_of_12{
		width:96%;
		padding:2%;
	}

	nav ul li{
		display:block;
		clear:both;
		width:96%;
		padding:2%;
		text-align: center;
		margin:0;
	}

	nav ul li:first-child{
		margin:0;
	}
}